<!DOCTYPE html>
<html lang="en">

<body>

<form action="/addtoCart/<%= toedit[0]._id %>" method="POST">

  <input type="text" value="<%= toedit[0]._id %>" name="_id" readonly><br>

  <input type="text" value="<%= toedit[0].name %>" name="name" readonly><br>
    <input type="email" value="<%= toedit[0].supplier_email %>" name="supplier_email" readonly><br>
     <input type="number" value="<%= toedit[0].unit_price %>" name="unit_price" readonly><br>
       <input type="number" value="<%= toedit[0].quantity %>" name="quantity"><br>



  <button type="submit">Submit</button>
</form>

</body>


</body>
</html>