<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.columnfull {
  float: left;
  width: 100%;
  padding: 0 10px;
}

.column {
  float: left;
  width: 100%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.cardtop {
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: white;
  background-color: #000000;
}



.card:hover
{
    background-color: #00FFFF;

}

</style>
  <title>MY APP</title>
</head>





<!----------------------------------------------------------------------------------------------------------------------->
<body>

  <div class="row">

<div class="columnfull">
    <div class="cardtop">
<h2>See your order history here</h2>
<p> marking an order as received will reflect changes in itms available</p>

 </div>
  </div>
  <br>
  <br>

  <div class="column">
      <div class="card1">

  

<ul >
  <!-- Loop through quotes -->
  <% for(var i = 0; i < results.length; i++) {%>

    <div class="column">
      <div class="card">
    <li >
      <!-- Output name from the iterated quote object -->
              <span>Date and Time</span><br>
              <span><%= results[i].orderTime %></span><br>
              <br>
              
              <p> Items Ordered </p><br>
                <a href="http://127.0.0.1:3000/viewOrderItems/<%= results[i]._id  %>"  >View Items Ordered</a><br> 

                <br>

              <span>Delivery status</span><br>
                <span><%= results[i].deleviery_status %></span><br>
      <!-- Output quote from the iterated quote object -->
      <br>
                    <span>Shipping Adress</span><br>
                    <span><%= results[i].shipping_adress %></span>
                    <br>
                    <br>
              <span>Supplier email</span><br>

            <span><%= results[i].supplier_email %></span>
              <br>
    </li>

  </div>
</div>




  <% } %>
</ul>



</div>
</body>
</html>

